.banner {
  background-image: url("./images/home.jpg");
  -webkit-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  color: rgb(27, 49, 18);
}


.btn-v1 {
  background: #142e49;
  border: none;
  border-radius: 2px;
  letter-spacing: 0.35px;
  font-weight: 500;
  padding: 12px 35px 8px;
  font-size: 1.125rem;
  cursor: pointer;
  color: rgb(57, 104, 73);
  display: inline-block;
  transition: 0.3s ease-out;
  font-weight: bold;
  border-radius: 66px;
  padding: 12px 42px;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
  cursor: pointer;


}

.btn-v1:hover {
  background-color: #1e243f;
  transition: background-color 0.3s ease-in-out;
  text-decoration: underline;
}

.btn-v2 {
  background: #4d343c;
  border: none;
  border-radius: 2px;
  letter-spacing: 0.35px;
  font-weight: 500;
  padding: 12px 35px 8px;
  font-size: 1.125rem;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  transition: 0.3s ease-out;
  margin-top: 52px;
  font-weight: bold;
  border-radius: 66px;
  padding: 12px 42px;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
  cursor: pointer;


}

.btn-v2:hover {
  background-color: #495970;
  transition: background-color 0.3s ease-in-out;
  text-decoration: underline;
}


.f-title{
  background: #000;
  color: #fff;
  width: 309px;
  padding: 10px 12px;
  margin: 0 auto;
      margin-top: 0px;
      margin-bottom: 0px;
  border-top-left-radius: \\;
  border-radius: 77px;
  margin-bottom: 33px;
  margin-top: 60px;
  font-weight: bold;
  font-size: 29px;
  border: 2px solid #ff5722;

}
